<div>
  <div class="searchBar">
    <mat-form-field *ngIf="collectionSize > 0" class="searchInput">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search"
        cdkFocusInitial
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="actionBtns">
      <a class="addBtn" [routerLink]="['/a/employee']"
        ><button
          class="add-button"
          mat-raised-button
          matTooltip="Add new employee"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
            />
          </svg></button
      ></a>
    </div>
  </div>

  <div class="mat-elevation-z8 example-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="customer_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.customer_name }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>country</th>
        <td mat-cell *matCellDef="let element">{{ element.country }}</td>
      </ng-container>

      <!-- requester_name Column -->
      <ng-container matColumnDef="requester_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          requester_name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.requester_name }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="requester_email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          requester_email
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.requester_email }}
        </td>
      </ng-container>

      <!-- Count privilege_leave_balance -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          department
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.department }}
        </td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="order_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>order_id</th>
        <td mat-cell *matCellDef="let element">{{ element.order_id }}</td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="package_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>package_type</th>
        <td mat-cell *matCellDef="let element">{{ element.package_type }}</td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="setup_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>setup_type</th>
        <td mat-cell *matCellDef="let element">{{ element.setup_type }}</td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="license_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>license_type</th>
        <td mat-cell *matCellDef="let element">{{ element.license_type }}</td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="purpose">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>purpose</th>
        <td mat-cell *matCellDef="let element">{{ element.purpose }}</td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="license_start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.license_start_date | date: "dd-MM-yy" }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="license_end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.license_end_date | date: "dd-MM-yy" }}
        </td>
      </ng-container>

      <!-- Count medical_leave_balance -->
      <ng-container matColumnDef="combined_unit_count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          combined u/count
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.combined_unit_count }}
        </td>
      </ng-container>

      <!-- Count medical_leave_balance -->
      <ng-container matColumnDef="additional_unit_count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          additional u/count
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.additional_unit_count }}
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">
          Actions
        </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/a/employee', element.id]">
            <mat-icon matTooltip="Edit" class="edit-button-icon">edit</mat-icon>
          </a>
          <a [routerLink]="['/a/updateLeaveCard', element.id, element.name]">
            <mat-icon
              matTooltip="Update Leave Card"
              class="update-leave-card-icon"
              >storage</mat-icon
            >
          </a>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="table-header-row"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="table-row"
      ></tr>
    </table>

    <mat-paginator
      *ngIf="collectionSize > 0"
      [pageSizeOptions]="[10, 25, 50]"
      showFirstLastButtons
    ></mat-paginator>
    <div *ngIf="collectionSize === 0" style="text-align: center;">
      <p style="margin-top: 10px;">No record found!</p>
    </div>
  </div>
</div>
